.breadcrumb {
    color: gray;
}

.breadcrumb ul {
    margin: 0;
}

.breadcrumb li {
    display: inline;
    margin-right: 0.3rem; 
}

.category-list ul {
    margin: 0;
}

.category-list li {
    display: inline;
    margin-right: 0.3rem; 
}