.breadcrumb {
    color: gray;
}

.breadcrumb ul {
    margin: 0;
}

.breadcrumb li {
    display: inline;
    margin-right: 0.3rem; 
}

.category-list ul {
    margin: 0;
}

.category-list li {
    display: inline;
    margin-right: 0.3rem; 
}

// Auto spacing between Japanese and English text
.ja-en-space {
    &::before {
        content: '\00A0'; // non-breaking space
        font-size: 1.0em; // Makes the space narrower
    }
}