<footer class="footer">
    <span class="footer_item"> </span>
    &nbsp;

    <div class="footer_social-icons">
        {{- partial "socialIcons.html" site.Params.socialIcons -}}
    </div>
    <small class="footer_copyright">
        <ul>
            {{ range .Site.Sections }}
            {{ if eq .Section "fixed" }}
            {{ range .Pages.ByWeight }}
            <il><a href="{{ .Permalink }}"> {{ .Title }} </a></il><il>/</il>
            {{ end }} {{/* end range .Pages */}}
            {{ end }} {{/* end if eq .Section "fixed" */}}
            {{ end }} {{/* end range .Sections */}}
            <il class="footer_mobile"><br></il>
            <il><a href="{{ .Site.Home.Permalink }}">
                © {{ now.Format "2006" }} {{ .Site.Params.author.name }}. </a></il>
                {{ T "footer.disclaimer" | safeHTML }}
            </il>
        </ul>
    </small>
</footer>

{{- if .Site.Params.goToTop -}}
<a href="#" title="{{ T "footer.go_to_top" }}" id="totop">
    {{ partial "svgs/arrowUp.svg" (dict "height" 48 "width" 48) . }}
</a>
{{- end -}}
