<details class="toc" open>
    <summary><b>{{ T "single.table_of_contents" }}</b></summary>
    <nav id="TableOfContents">
        <ul>
            {{ range .Site.Home.Sections.ByWeight  }}
                {{ if not (eq .Section "til") }}
                    {{ $section := .Title }}
                    {{ $id := partial "functions/getIdStr.html" $section }}
                    <li><a href="#{{ $id }}">{{ .Title }}</a></li>
                {{ end }}
            {{ end }} {{/* end range .Sections */}}

            {{ with .Site.Home }}
                {{ range $firstSection := (where .Sites.First.Sections "Section" "til") }}
                    {{ $section := .Title }}
                    {{ $id := partial "functions/getIdStr.html" $section }}
                    <li><a href="#{{ $id }}">{{ .Title }}</a></li>
                    <ul>
                        {{ range .Sections.ByTitle }}
                        {{ $id := partial "functions/getIdStr.html" .Title }}
                        <li><a href="#{{ $id }}">{{ .Title }}</a></li>
                        {{ end }} {{/* end range .Sections */}}
                    </ul>
                {{ end }} {{/* end range .Sites.First.Sections */}}
            {{ end }} {{/* end with .Site.Home */}}
        </ul>
    </nav>
</details>

<p>{{ .Get 0 }}</p>

{{ range .Site.Home.Sections.ByWeight  }}

    {{ if not (eq .Section "til")}}

        {{ $id := partial "functions/getIdStr.html" .Section }}
        <h2 class="post-year" id="{{ $id }}">{{ .Title | title }}</h2>

            {{ range .Pages.ByTitle }}

            {{ partial "postCard" . }}

        {{ end }} {{/* end range .Pages */}}

    {{ end }} {{/* end if not (eq .Section "til") */}}

{{ end }} {{/* end range .Sections */}}

{{ with .Site.Home }}

    {{ range $firstSection := (where .Sites.First.Sections "Section" "til") }}

    {{ $id := partial "functions/getIdStr.html" .Title }}
    <h2 class="post-year" id="{{ $id }}">{{ .Title | title }}</h2>

        {{ range .Sections.ByTitle}}

            {{ $id := partial "functions/getIdStr.html" .Title }}
            <h3 class="post-year" id="{{ $id }}">{{ .Title | title }}</h3>

            {{ range .Pages.ByTitle }}

                {{ partial "postCard" . }}

            {{ end }} {{/* end range .Pages */}}

        {{ end }} {{/* end range .Sections */}}

    {{ end }} {{/* end range .Sites.First.Sections */}}

{{ end }} {{/* end with .Site.Home */}}
