{{- define "main" -}}
<div class="wrapper list-page">
    <header class="header">
        <h1 class="header-title center">{{ .Title }}</h1>
    </header>
    <main class="page-content" aria-label="Content">
        {{ range .Sections.ByTitle }}
        {{ $section := .Title }}
        {{ $id := partial "functions/getIdStr.html" $section }}
        <h2 class="post-year" id="{{ $id }}">{{ $section }}</h2>

        {{/* create a list of posts for each month, with month as heading */}}

        {{ range .Pages.ByTitle }}

        {{ partial "postCard" . }}

        {{ end }} {{/* end range .Pages */}}

        {{ end }} {{/* end range .Sections */}}

    </main>
</div>
{{- end -}}
